<div class="section1" id="join">
	<!-- Page Title and Subtitle -->
	<div class="main_text center header cd-headline letters type">
	    <span>Local</span> 
	    <span class="cd-words-wrapper waiting">
	        <b class="is-visible">Network</b>
	        <b>Revolution</b>
	        <b>Community</b>
	        <b>Everywhere</b>
	        <b>Interests</b>
	        <b>Happenings</b>
	        <b>Exploration</b>
	        <b>Discovery</b>
	        <b>Engagement</b>
	        <b>People</b>
	        <b>Events</b>
	        <b>Groups</b>
	        <b>Posts</b>
	        <b>Life</b>
	        <b>Prosperity</b>
	        <b>Love</b>
	    </span>
	</div>
	  


	<!-- <div class="main_sub_text"> Discover and engage with the happenings around you.</div> -->

	<!-- Email Errors -->
	<div class="error_message_div">
		<% if @user.errors.any? %>
			<% @user.errors[:email].each do |msg| %>
				<div class="error_message">
			  		<%= msg %>
			  	</div>
			<% end %>
		<% end %>
	</div>

	<!-- Email Submit Form -->
	<%= form_for :user, url: users_path do |f| %>

		<div class="email_div">
			<%= f.hidden_field :city, :value => @city %>
			<%= f.hidden_field :latitude, :value => request.location.latitude %>
			<%= f.hidden_field :longitude, :value => request.location.longitude %>

		    <%= f.text_field :email, :class => "email_box", :placeholder => "your email address here" %>
		 
		    <%= f.submit 'Get Early Access', :class => "email_button" %>
		</div>

	<% end %>

	<a href="#why">
		<div class="chevron_down animated bounce" id="chevron_down">
			<svg version="1.1" id="chevron_down" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" fill="#fff"
				 viewBox="-424.1 240.2 457.1 313.7" width="72px" height="72px" xml:space="preserve">
				<g>
					<path d="M17.3,292.4L-4.2,271c-7.4-7-16.7-12.9-26.6-12.9c-10.1,0-18,5.8-25.1,12.9l-138.8,141L-333.3,271
						c-7-7-15.6-12.9-25.7-12.9c-9.9,0-18.6,5.8-26,12.9l-21.1,21.4c-7.2,7.2-13.3,17-13.3,27c0,10.3,6,17.8,13.3,24.6l185.9,185.9
						c6.9,7.2,15.4,10.8,25.7,10.8c10.1,0,18.8-3.6,26-10.8L17.3,344.1c7-7,12.8-15.5,12.8-25.6C30.1,308.6,24.3,299.8,17.3,292.4z"/>
				</g>
			</svg>
		</div>
	</div>

</div>

<!-- More Information, Who, What, How
<div class="who_what_how">

	<div class="who">

		<div class="who_title"> Who? </div>

		<div class="who_text"> Everyone! Let's use the fantastic potential of the internet to create close-knit, engaging, and collaborative local community everywhere! Whatever you're into, community is good for you, me, and everyone around us. Whether you're a social revolutionist or simply wanting to find out what's going on in town tonight, if it involves connecting to the people, events, organizations, or information around you, the local network is the place to start. </div>

	</div>

	<div class="what">
		<div class="what_title"> What? </div>
		<div class="what_text"> A local community platform to discover and engage with the people around you through interests, groups, events, news, discussions, and a stream that aggregates the collective happenings of the nearby world around you! A platform with the sole intent to maximize the growth of community by making local interaction effortless and blissful :)</div>
	</div>

	<div class="how">
		<div class="how_title"> How? </div>
		<div class="how_text"> By empowering you, the people and communities; by creating and growing the platform, to meet your needs and desires; by financially supporting you, through donating 51% of our profits every year back to your (our) communities through real-world local projects you submit and democratically choose by voting on the site. </div>
	</div>

</div>
-->

<div class="top_nav">

	<a href="#why"><div class="why_nav">Why?</div></a>

	<a href="#how"><div class="how_nav">How?</div></a>

	<a href="#what"><div class="what_nav">What?</div></a>

	<a href="#join"><div class="join_nav">Join the Revolution</div></a>

</div>


<div class="section2" id="why">

	<div class="why_section">

		<div class="why1" data-10p="transform[linear]:translateX(-18vw);" data-80p="transform[linear]:translateX(0vw);">
			There’s so much you could love, left undiscovered around every corner.
		</div>

		<div class="why2" data-10p="transform[linear]:translateX(18vw);" data-80p="transform[linear]:translateX(0vw);">
			People never met, relationships never made, interests never explored.
		</div>

		<div class="why3" data-10p="transform[linear]:translateY(60vh);" data-85p="transform[linear]:translateX(0vw);">
			Communities never flourished.
		</div>

		<div class="why4" data-80p="font-size:0vmin;" data-95p="font-size:6.6vmin;">
			It’s time to create the future together!
		</div>

		<div class="why5" data-95p="opacity:0;" data-100p="opacity:1;">
			To rebuild community and engage locally, knocking down artificial boundaries and connecting our communities through what’s truly important: what we love.
		</div>

	</div>
</div>

<a class="how_anchor" id="how"></a>
<div class="section3">
	<div class="section3_text">
		<div class="s3_1 wow rotateInDownLeft">The Internet is a powerful thing.</div>
		<div class="s3_2 wow rotateInDownLeft">But if we’re so connected, why are we drifting apart?</div>
		<div class="s3_3 wow rotateInDownLeft">The internet we know today doesn’t care about where we are; data travels at the speed of light.</div>
		<div class="s3_4 wow rotateInDownLeft">But there’s so much going on at the speed of life!</div>
	</div>
	<div class="network_gradient"></div>
	<img class="network_animation" src="../images/local_network_v1.svg">
</div>

<a class="what_anchor" id="what"></a>
<div class="section4">
	<div class="section4_text">

		<div class="s4_1" data-230p="opacity:0;" data-260p="opacity:1;">
			What if the power of the internet was used by the people around eachother for each other?
		</div>

		<div class="s4_2" data-240p="opacity:0;" data-270p="opacity:1;">
			What if you could locally discover, organize, and communicate, anywhere you were in the world?
		</div>

		<div class="s4_3" data-250p="opacity:0;" data-280p="opacity:1;">
			What if 51% of profits from such a service were donated back to the communities from which they came, distributed to community projects by popular vote?
		</div>

		<div class="s4_4" data-260p="opacity:0;" data-290p="opacity:1;">
			How could community connectivity change our world?
		</div>

	</div>
</div>





<div class="section5">
	<a href="#join" class="s5_1">
		Join the Local, Global Revolution.
	</a>

	<!-- Email Errors -->
	<div class="error_message_div">
		<% if @user.errors.any? %>
			<% @user.errors[:email].each do |msg| %>
				<div class="error_message">
			  		<%= msg %>
			  	</div>
			<% end %>
		<% end %>
	</div>

	<!-- Email Submit Form -->
	<%= form_for :user, url: users_path do |f| %>

		<div class="email_div">
			<%= f.hidden_field :city, :value => @city %>
			<%= f.hidden_field :latitude, :value => request.location.latitude %>
			<%= f.hidden_field :longitude, :value => request.location.longitude %>

		    <%= f.text_field :email, :class => "email_box", :placeholder => "your email address here" %>
		 
		    <%= f.submit 'Get Early Access', :class => "email_button" %>
		</div>

	<% end %>

</div>


<!-- Background Video/Image -->
<video autoplay loop poster="local_page_v1_1.jpg" id="bgvid">
<source src="local_page_v1_1.webm" type="video/webm">
<source src="local_page_v1_1.mp4" type="video/mp4">
</video>
